doctype html
html
    head
        meta(charset="utf-8")
        base(href="/")
        title Webpack Starter

    body
        .wrapper.container-fluid
            header.banner.row(role="banner")
                nav.navbar.navbar-default(role="navigation")
                    .navigation__inner.container
                        .branding.navbar-header                
                            h1.branding__title.h3 Webpack Starter
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#" title="Home Page") Home
                            li
                                a(href="#" title="Home Page") Services
                            li
                                a(href="#" title="Home Page") Account
                            li
                                a(href="#" title="Home Page") About
                            li
                                a(href="#" title="Home Page") Contact
            .hero.row.jumbotron                                
            