doctype html
html
    head
        meta(charset="utf-8")
        base(href="/")
        title Webpack Starter

    body
        .wrapper.container-fluid
            header.banner.row(role="banner")
                nav.navbar.navbar-default(role="navigation")
                    .navigation__inner.container
                        .branding.navbar-header.hidden                
                            h1.branding__title.h3 Webpack Starter
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#" title="Home Page") Home
                            li
                                a(href="#" title="Services Page") Services
                            li
                                a(href="#" title="Account Page") Account
                            li
                                a(href="#" title="About Page") About
                            li
                                a(href="#" title="Contact Page") Contact
            .hero.row.jumbotron
                .hero__inner.container
                    .hero__content
                        h1.hero__title.h1.text-center.animated.bounce Webpack Starter                     
            