.hero{
    height: 350px;
    background: #fff;
    background-image: url('../img/bg-hero.png');
    background-size: cover;
    border-radius: 0;
}

.container .jumbotron,
.container-fluid .jumbotron{
    border-radius: 0;
 
}

h1.hero__title.h1 {
    color: #fff;
}