@import './vendors/base';
@import './utils/base';
@import './base/base';
@import './themes/base';
@import './layout/base';
@import './components/base';
@import './pages/base';

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

html,
body,
.wrapper{
    height: 100%;
}

.branding__title{
    font-weight: bold;
}

.navbar{
    margin-bottom: 0;
}

.hero{
    height: 350px;
}

.jumbotron{
    border-radius: 0;
}