@import './vendors/base';

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

html,
body,
.wrapper{
    height: 100%;
}